@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel 

<h1>Amazon Lite</h1>

<div class="text-lg-start wrapper">
    @foreach (Book b in Model.Books)
    {
        <div class="floating-card">
            <div class="image-holder" style="background-image: url('imgs/book-composition-with-open-book.jpg');"></div>
            <div class="text-holder">
                <p style="color:grey">@b.Isbn / @b.Category</p>
                <h1>@b.Title</h1>
                <p style="color: #6c8edd; font-size: x-large;">$@b.Price</p>
                <p>By: @b.Author - @b.Publisher</p>
                <p>@b.PageCount pages</p>
                <button class="main-button">Buy</button>
            </div>
        </div>
    }

</div>

<div page-model="@Model.PaginationInfo" page-action="Index" page-class="btn" page-class-enabled="true" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

